$primary-color: #f6feff;

$text-primary-color: #292f30;
$text-secondary-color: #6a7172;

$about-primary-color: #f6fffb;
$about-secondary-color: #fff7f6;

$cv-bg-color: #5569dc;
$cv-hover-color: #7685e2;